@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.customBody {
    background-color: #1e2939;
}

.container-div {
    width: 50%;
    height: auto;

    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.h2-form-category {
    text-align: center;
    color: #f4f4f5;
    font-size: 35px;
    font-family: "Inter", sans-serif;

}

.input-form-category {

    margin-top: 10px;
    margin-left: 190px;
    padding: 10px;
    width: 370px;
    border-radius: 4px;
    border: 1px solid gray;
    background-color: #171717;
    color: white;
}

.button-form-category-register {
    background-color: #009689;
    padding: 10px;
    width: 390px;
    border: none;
    border-radius: 4px;
    font-family: "Inter", sans-serif;
    color: #f4f4f5;

    position: absolute;
    top: 120%;
    left: 50.3%;
    transform: translate(-50%, -50%);
}
.button-form-category-register:hover {
    background-color: #00786f;
    transition: 0.4s;
    cursor: pointer;
}

.button-back-home-form-category {
    padding: 7px;
    width: 100px;
    border: none;
    border-radius: 4px;
    background-color: #00786f;
    color: white;

    position: absolute;
    top: 170%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button-back-home-form-category:hover {
    cursor: pointer;
    background-color: #0b4f4a;
    transition: 0.4s;
}